<h1>Bienvenido!!</h1>
      <%= link_to "Pedido", :controller => "pedido" %>
      <%= link_to "Platillo", :controller => "platillo" %>
      <%= link_to "Producto", :controller => "producto" %>
      <%= link_to "Usuario", :controller => "usuario" %>
      <%= link_to "Venta", :controller => "venta" %>



